.icon-container {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  mat-icon{
    font-size: 36px;
    color:#c0c0c0;
  }
  mat-toolbar{
    position: fixed;
    bottom: 0px;
    background-color:white;
    z-index: 1;
  }
  .mat-icon-active{
      color: #585f6d;
  }
  
  .icon-container > div {
    width: 50px;
    height: 50px;
    text-align:left;
    flex: 1;
  }
  .test{
    background-color: red;
  }