<mat-grid-list [cols]="breakpoint" rowHeight="2:2.5" (window:resize)="onResize($event)" gutterSize="2px" >
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
      <div class="product-tile">
        <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
        <div class="product-info">Rate $45 / per unit</div>
        <div class="product-info">50% Flat offer</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style ="background: white">
        <div class="product-tile">
            <div><img src="/assets/logo/ms-icon-150x150.png" class="product-image"></div>
            <div class="product-info">Rate $45 / per unit</div>
            <div class="product-info">50% Flat offer</div>
        </div>
    </mat-grid-tile>
</mat-grid-list>