<mat-card class="fav-card">
    <mat-grid-list [cols]="breakpoint.breakpointMain" rowHeight="2:1">
      <mat-grid-tile [colspan]="breakpoint.breakpointImage" rowspan="1">
          <img width="100%" height="100%" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
      </mat-grid-tile>
      <mat-grid-tile class="product-info" [colspan]="breakpoint.breakpointContent" rowspan="1">
          Product Name <br>Cost<br>Offer<br>Review
    </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br> 

<mat-card >
    <mat-grid-list [cols]="breakpoint.breakpointMain" rowHeight="2:1">
      <mat-grid-tile [colspan]="breakpoint.breakpointImage" rowspan="1">
          <img width="100%" height="100%" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
      </mat-grid-tile>
      <mat-grid-tile class="product-info" [colspan]="breakpoint.breakpointContent" rowspan="1">
          Product Name <br>Cost<br>Offer<br>Review
    </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br> 

<mat-card >
    <mat-grid-list [cols]="breakpoint.breakpointMain" rowHeight="2:1">
      <mat-grid-tile [colspan]="breakpoint.breakpointImage" rowspan="1">
          <img width="100%" height="100%" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
      </mat-grid-tile>
      <mat-grid-tile class="product-info" [colspan]="breakpoint.breakpointContent" rowspan="1">
          Product Name <br>Cost<br>Offer<br>Review
    </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br> 

<mat-card >
    <mat-grid-list [cols]="breakpoint.breakpointMain" rowHeight="2:1">
      <mat-grid-tile [colspan]="breakpoint.breakpointImage" rowspan="1">
          <img width="100%" height="100%" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
      </mat-grid-tile>
      <mat-grid-tile class="product-info" [colspan]="breakpoint.breakpointContent" rowspan="1">
          Product Name <br>Cost<br>Offer<br>Review
    </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br> 

<mat-card >
    <mat-grid-list [cols]="breakpoint.breakpointMain" rowHeight="2:1">
      <mat-grid-tile [colspan]="breakpoint.breakpointImage" rowspan="1">
          <img width="100%" height="100%" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
      </mat-grid-tile>
      <mat-grid-tile class="product-info" [colspan]="breakpoint.breakpointContent" rowspan="1">
          Product Name <br>Cost<br>Offer<br>Review
    </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br> 

<mat-card>
    <mat-grid-list [cols]="breakpoint.breakpointMain" rowHeight="2:1">
      <mat-grid-tile [colspan]="breakpoint.breakpointImage" rowspan="1">
          <img width="100%" height="100%" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 
      </mat-grid-tile>
      <mat-grid-tile class="product-info" [colspan]="breakpoint.breakpointContent" rowspan="1">
          Product Name <br>Cost<br>Offer<br>Review
    </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<br> 

