<mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile colspan="1">
                <a routerLink="" (click)="showHeader()">
                        <mat-icon>keyboard_backspace</mat-icon>
                </a> 
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
                <mat-form-field class="form-search full-width" floatLabel="never">
                        <input #search matInput placeholder="Search..." type="search" >
                    </mat-form-field>
        </mat-grid-tile>
</mat-grid-list>