.full-width {
    width: 50%;
    position: fixed;
    top: 0px;
    z-index: 1;
 }
  
.mat-focused .placeholder {
    color: white;
}

.mat-focused .mat-input-element {
    caret-color: white;
}

/deep/ .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white;
}